

<h1>&nbsp All Wikis</h1>
<div class="container main-page">
  <div class="row">
     <div class="col-md-8">

    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>

      <hr>

      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">My Wikis</h3>
    
        </div>
      </div>
      <div class="table-striped">

        <table id="Task-table" class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Body</th>
              <th>Show</th>
              <th>Edit</th>
              <th>Delete</th>
         
            </tr>
          </thead>

          <tbody>
            <% @wikis.each do |wiki| %>
              <tr id=<%= "task-#{wiki.id}" %>>
                <td><%= markdown_to_html wiki.title %></td>
                <td><%= markdown_to_html wiki.body %></td>
                <td><%= link_to("Show",  wiki_path(wiki) ) %></td>
                <td><%= link_to("Edit",  edit_wiki_path(wiki) ) %></td>
                <td><%= link_to("Delete", wiki, method: :delete) %></td>
        
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>